<!--SERVICE MENU-->
<div>
  <!--<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" class="service-menu">-->
    <!--<div class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">-->

      <!--<div class="uk-container uk-container-large">-->

        <!--<nav class="uk-navbar">-->
          <!--<div class="uk-navbar-right">-->

            <!--<ul class="uk-navbar-nav">-->
              <!--<li class="uk-active"><a class="service-menu-item" href="#">Active</a></li>-->
              <!--<li><a class="service-menu-item" href="#">Item</a></li>-->
              <!--<li><a class="service-menu-item" href="#">Item</a></li>-->
            <!--</ul>-->

          <!--</div>-->
        <!--</nav>-->

      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <div class=" tm-header uk-visible@m tm-header-transparent service-menu">
    <div class="uk-navbar-container uk-sticky uk-navbar-transparent" uk-sticky="top:0" media="768"
    cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"
    top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent">
    <!--<div class="uk-navbar-container uk-navbar-transparent">-->
      <div class="uk-container uk-container-large">
        <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">

          <div class="uk-navbar-left">
            <img src="https://monitor.openaire.eu/dashboard/logo-large-monitor.3c00128de8ab7dc5817c.png" width="210px">
          </div>

          <div *ngIf="!loading" class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li [ngClass]="{'uk-active': path === 'overview'}"><a [routerLink]="'./overview'" class="service-menu-item">Overview</a></li>
              <li [ngClass]="{'uk-active': path === 'pricing'}"><a [routerLink]="'./pricing'" class="service-menu-item">Pricing</a></li>
              <li [ngClass]="{'uk-active': path === 'resourcesAndSupport'}"><a [routerLink]="'./resourcesAndSupport'" class="service-menu-item">Resources & Support</a></li>
              <li *ngIf="form.get('extras.documentation').value !== ''"><a href="{{form.get('extras.documentation').value}}" target="_blank" class="service-menu-item">Documentation <i class="fa fa-external-link uk-margin-small-left"></i></a></li>
              <li *ngIf="form.get('extras.roadmap').value !== ''"><a href="{{form.get('extras.roadmap').value}}" target="_blank" (click)="goto()" class="service-menu-item">Roadmap <i class="fa fa-external-link uk-margin-small-left"></i></a></li>
              <li [ngClass]="{'uk-active': path === 'miscellaneous'}"><a [routerLink]="'./miscellaneous'" class="service-menu-item">Miscellaneous</a></li>
              <li class="uk-flex uk-flex-middle"><button class="uk-button uk-button-blue">Go to service</button></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>
  </div>
</div>


<router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
