<!--MOBILE-->
<div class="tm-header-mobile uk-hidden@m">
  <nav class="uk-navbar-container uk-navbar" uk-navbar="">
    <div class="uk-navbar-left">
      <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle="">
        <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon"></div>
      </a>
    </div>
    <div class="uk-navbar-center">
      <a class="uk-navbar-item uk-logo" [routerLink]="['/search']">
        <img src="../../../assets/images/Logo_Horizontal.png" class="uk-responsive-height" alt="OpenAIRE">
      </a>
    </div>
  </nav>
  <div id="tm-mobile" uk-offcanvas="" mode="slide" overlay="" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close=""></button>
      <div class="uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
        <div>
          <div class="uk-panel" id="module-0">
            <ul class="uk-nav uk-nav-default">
              <li class="uk-nav-header uk-parent" [routerLinkActive]="['uk-active']">Catalogue
                <ul class="uk-nav-sub">
                  <li><a href="/search;query=Researchers">Researchers</a></li>
                  <li><a href="/search;query=Content Providers">Content Providers</a></li>
                  <li><a href="/search;query=Research Managers">Research Managers</a></li>
                  <li><a href="/search;query=Funders">Funders</a></li>
                  <li><a href="/search;query=Research Communities">Research Communities</a></li>
                  <li><a href="/search;query=Innovators">Innovators</a></li>
                  <li class="uk-nav-divider"></li>
                  <li class="emphasized_menu">
                    <a href="/search">Full Service Catalogue</a>
                  </li>
                </ul>
              </li>

              <li class="uk-nav-header uk-parent" [routerLinkActive]="['uk-active']">
                <span *ngIf="authenticationService.isLoggedIn()">
                  <span> {{authenticationService.user.name}} {{authenticationService.user.surname}}
                    <span class="uk-margin-small-right uk-icon">
                      <svg width="20" height="20"
                           viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg"
                           ratio="1"><circle fill="none"
                                             stroke="#000"
                                             stroke-width="1.1"
                                             cx="9.9" cy="6.4"
                                             r="4.4"></circle><path
                        fill="none" stroke="#000" stroke-width="1.1"
                        d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"></path>
                      </svg>
                    </span>
                  </span>
                </span>
                <span *ngIf="!authenticationService.isLoggedIn()">
                  <span style="color: rgb(255, 255, 255); border: medium none rgb(255, 255, 255);"
                        class="btl-dropdown">
                      <a class="loginLink" (click)="authenticationService.login()"> Log In   </a>
                  </span>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                       ratio="1"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4"
                                         r="4.4"></circle>
                    <path fill="none" stroke="#000" stroke-width="1.1"
                          d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2">
                    </path>
                  </svg>
                </span>
                <ul *ngIf="authenticationService.isLoggedIn()" class="uk-nav-sub">
                  <li><a routerLink="/home" (click)="authenticationService.logout()">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--NO MOBILE-->
<!--<div class="tm-header uk-visible@m tm-header-transparent" uk-header="">-->
<!--<div class="uk-navbar-container uk-sticky uk-navbar-transparent" uk-sticky="top:0" media="768"-->
<!--cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"-->
<!--top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent">-->
<div id="">
  <div class="main-menu tm-header uk-visible@m tm-header-transparent">
    <div class="uk-navbar-container uk-navbar-transparent" style="background-color: rgb(255, 255, 255);">
      <div class="uk-container uk-container-xlarge">
        <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
          <div class="uk-navbar-left">
            <a routerLink="/home" class="uk-navbar-item uk-logo">
              <img src="../../../assets/images/logo.png"
                   class="uk-responsive-height" alt="OpenAIRE Catalogue" style="width: 250px">
            </a>
          </div>
          <div class="uk-grid uk-navbar-center" >
            <div class="uk-flex-row">
              <ul class="uk-navbar-nav">
                <li><a class="default-menu-item">Browse Services <i
                  class="fa fa-angle-down uk-margin-small-left"></i></a></li>
              </ul>
            </div>
            <div class="" *ngFor="let portfolio of services | keyvalue">
              {{portfolio.key}}
              <ul>
                <li *ngFor="let service of portfolio.value | keyvalue">
                  {{service.value['name']}}
                </li>
              </ul>
            </div>
          </div>
          <!--<div class="uk-navbar-right">-->
            <!--<ul class="uk-navbar-nav">-->
              <!--<li *ngIf="authenticationService.isLoggedIn()" class="uk-parent" [routerLinkActive]="['uk-active']">-->
                <!--<a href="#" class="" aria-expanded="false">-->
                <!--<span> {{authenticationService.getUserName()}} {{authenticationService.getUserSurname()}}-->
                  <!--<span class="uk-margin-small-right uk-icon">-->
                    <!--<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"><circle-->
                      <!--fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4" r="4.4"></circle>-->
                      <!--<path fill="none"-->
                            <!--stroke="#000"-->
                            <!--stroke-width="1.1"-->
                            <!--d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2">-->
                      <!--</path>-->
                    <!--</svg>-->
                  <!--</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;" id="user" (click)="onClick('support')">-->
                  <!--<div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->
                    <!--<div class="uk-first-column">-->
                      <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
                        <!--<li><a routerLink="/home" (click)="this.authenticationService.logout()">Log out</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li *ngIf="!authenticationService.isLoggedIn()" class="uk-parent" [routerLinkActive]="['uk-active']">-->
                <!--<a class="loginLink" (click)="authenticationService.login()">Sign In</a>-->
              <!--</li>-->
              <!--&lt;!&ndash;<li *ngIf="router.url != '/home' && router.url != '/'">&ndash;&gt;-->
              <!--&lt;!&ndash;<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.controls['query'].value)">&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" class="uk-input menuSearch" placeholder="Search" name="keyword" formControlName="query">&ndash;&gt;-->
              <!--&lt;!&ndash;</form>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
          <!--</div>-->
        </nav>
      </div>
    </div>
    <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>
  </div>
</div>



