<ng-container *ngIf="form">

  <div class="uk-section uk-section-primary uk-preserve-color uk-padding-remove" uk-height-viewport="offset-bottom: 30">
    <div class="uk-grid uk-grid-match uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">

      <div class="uk-flex-last@m uk-flex-last@l uk-text-right"
           style="background-image: url({{getExtrasField('longImage').value}}); background-repeat: no-repeat; background-position: bottom right; background-size: contain">
        <!--<img src="{{getExtrasField('longImage').value}}">-->
      </div>

      <div class="uk-first-column">
        <div class="uk-padding-large uk-margin-large-left@m uk-margin-large-left@l uk-margin-large-top">
          <p *ngIf="getServiceField('name').value !== ''" class="big-text uk-text-primary">{{getServiceField('name').value}}</p>
          <h1 *ngIf="getServiceField('tagline').value !== ''">{{getServiceField('tagline').value}} </h1>
          <p *ngIf="getExtrasField('pitch').value !== ''" class="regular-text uk-margin-medium-top">{{getExtrasField('pitch').value}}</p>
        </div>
      </div>

    </div>
  </div>

</ng-container>


<!--INFO-->
<div class="uk-margin-remove-top tm-grid-expand uk-grid-collapse uk-grid" uk-grid="">
  <div class="uk-grid-item-match uk-width-1-5@m uk-visible@m uk-first-column">
    <div class="uk-tile-muted uk-tile uk-tile-small uk-flex uk-flex-middle">
      <div class="uk-panel uk-width-1-1"></div>
    </div>
  </div>

  <div *ngIf="form" class="uk-grid-item-match uk-width-3-5@m">
    <div class="uk-tile-muted uk-tile uk-tile-small uk-flex uk-flex-middle">
      <div class="uk-panel uk-width-1-1">
        <ul class="uk-list uk-list-collapse uk-column-1-2@s uk-column-divider uk-text-small uk-scrollspy-inview "
            id="page#1-1-1-0" uk-scrollspy-class="uk-animation-slide-bottom-medium" style="">
          <li *ngIf="getServiceArray('targetUsers').controls[0].value !== ''" class="el-item">
            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">For</div>
              </div>
              <div>
                <div class="el-content uk-panel">
                  <span class="" *ngFor="let targetUser of getServiceArray('targetUsers').value; let i = index">
                    <span *ngIf="i > 0">| </span>{{ getVocabularyName('targetUsers',targetUser) }}
                  </span>
                </div>
              </div>
            </div>
          </li>
          <li *ngIf="getServiceField('trl').value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">TRL</div>
              </div>
              <div>
                <div class="el-content uk-panel">{{getVocabularyName('trl', getServiceField('trl').value)}}</div>
              </div>
            </div>

          </li>
          <li *ngIf="getServiceArray('accessTypes').controls[0].value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">Access Type</div>
              </div>
              <div>
                <div class="el-content uk-panel">
                  <span *ngFor="let accessType of getServiceArray('accessTypes').value; let i = index">
                    <span *ngIf="i > 0">| </span>{{getVocabularyName('accessTypes', accessType)}}
                  </span>
                </div>
              </div>
            </div>

          </li>
          <li *ngIf="getServiceArray('accessModes').controls[0].value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">Access Mode</div>
              </div>
              <div>
                <div class="el-content uk-panel">
                  <span *ngFor="let accessMode of getServiceArray('accessModes').value; let i = index">
                    <span *ngIf="i > 0">| </span>{{getVocabularyName('accessModes', accessMode)}}
                  </span>
                </div>
              </div>
            </div>

          </li>
          <li *ngIf="getServiceField('resourceOrganisation')?.value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">Owned by</div>
              </div>
              <div>
                <div class="el-content uk-panel">{{getVocabularyName('resourceOrganisation', getServiceField('resourceOrganisation').value)}}</div>
              </div>
            </div>

          </li>
          <li *ngIf="getServiceArray('resourceProviders').controls[0].value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">Provided by</div>
              </div>
              <div>
                <div class="el-content uk-panel">
                  <span class="" *ngFor="let provider of getServiceArray('resourceProviders').value; let i = index">
                    <span *ngIf="i > 0">| </span>{{getVocabularyName('resourceProviders', provider)}}
                  </span>
                </div>
              </div>
            </div>

          </li>
          <li *ngIf="getServiceArray('fundingPrograms').controls[0].value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">Funded by</div>
              </div>
              <div>
                <div class="el-content uk-panel">
                  <span *ngFor="let funder of getServiceArray('fundingBody').value; let i = index">
                    <span *ngIf="i > 0">| </span>{{getVocabularyName('fundingBody', funder)}}
                  </span>
                </div>
              </div>
            </div>

          </li>
          <li *ngIf="getServiceField('termsOfUse')?.value !== ''" class="el-item">

            <div class="uk-child-width-expand uk-grid-row-small uk-grid" uk-grid="">
              <div class="uk-width-small uk-text-break uk-first-column">
                <div class="el-title uk-margin-remove uk-text-bold">Terms of use</div>
              </div>
              <div>
                <div class="el-content uk-panel">
                  <a class="uk-margin-remove-last-child" href="{{getServiceField('termsOfUse').value}}" target="_blank">
                    <p>View</p>
                  </a>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="uk-grid-item-match uk-width-1-5@m uk-visible@m">
    <div class="uk-tile-muted uk-tile uk-tile-small uk-flex uk-flex-middle">
      <div class="uk-panel uk-width-1-1"></div>
    </div>
  </div>
</div>

<!--ABOUT-->
<div *ngIf="form" class="uk-section-primary uk-section uk-padding-remove-bottom uk-preserve-color">
  <div class="uk-container">
    <div class="tm-grid-expand uk-grid-column-large uk-child-width-1-1 uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-first-column">
        <!--<h4 class="uk-h4 uk-font-primary uk-text-emphasis">About</h4>-->
        <div class="uk-panel uk-dropcap uk-margin">
<!--          <md-editor-->
<!--            [mode]="'preview'"-->
<!--            [height]="'auto'"-->
<!--            [(ngModel)]="getServiceField('description').value"-->
<!--            [options]=mdOptions>-->
<!--          </md-editor>-->
          <p [innerHTML]="getServiceField('description').value"></p>

        </div>
      </div>
    </div>
    <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-first-column">
        <hr>
      </div>
    </div>
  </div>
</div>

<!--OLD INFO-->
<!--<div *ngIf="form" class="uk-section uk-section-default">-->
<!--  <div class="uk-container uk-container-large">-->

<!--    <div class="uk-card uk-card-default uk-position-relative">-->

<!--      <div class="uk-position-absolute" style="top: -40px; right: -40px">-->
<!--        <img src="../../../../../assets/images/icons/circle.png" width="110px">-->
<!--      </div>-->

<!--      <div class="uk-card-body uk-padding-large">-->

<!--        <h5 class="uk-text-uppercase">Insight Info</h5>-->

<!--        <div class="uk-margin-medium-top">-->
<!--          <dt>Description</dt>-->
<!--          <dd class="uk-margin-small-top uk-visible@m">-->
<!--              <read-more-text [text]="getServiceField('description').value" [maxHeight]="69">-->
<!--              </read-more-text>-->
<!--          </dd>-->
<!--          <dd class="uk-margin-small-top uk-hidden@m">-->
<!--            <read-more-text [text]="getServiceField('description').value" [maxHeight]="134">-->
<!--            </read-more-text>-->
<!--          </dd>-->
<!--        </div>-->

<!--        <hr class="uk-margin-medium-top">-->

<!--        <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-4@m uk-child-width-1-4@l uk-margin-large-bottom" uk-grid="masonry: true">-->

<!--          <div *ngIf="getServiceArray('targetUsers').controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Users</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span class="" *ngFor="let targetUser of getServiceArray('targetUsers').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{ getVocabularyName('targetUsers',targetUser) }}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceField('resourceOrganisation')?.value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Resource Organization</dt>-->
<!--            <dd class="uk-margin-small-top">{{getVocabularyName('resourceOrganisation', getServiceField('resourceOrganisation').value)}}</dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceArray('accessModes').controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Access Mode</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span *ngFor="let accessMode of getServiceArray('accessModes').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{getVocabularyName('accessModes', accessMode)}}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceArray('fundingBody')?.controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Funding Body</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span *ngFor="let funder of getServiceArray('fundingBody').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{getVocabularyName('fundingBody', funder)}}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceArray('resourceProviders').controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Resource Providers</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span class="" *ngFor="let provider of getServiceArray('resourceProviders').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{getVocabularyName('resourceProviders', provider)}}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceArray('accessTypes').controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Access Type</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span *ngFor="let accessType of getServiceArray('accessTypes').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{getVocabularyName('accessTypes', accessType)}}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceField('trl').value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>TRL</dt>-->
<!--            <dd class="uk-margin-small-top">{{getVocabularyName('trl', getServiceField('trl').value)}}</dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceArray('fundingPrograms').controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Funding Program</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span *ngFor="let funder of getServiceArray('fundingPrograms').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{getVocabularyName('fundingPrograms', funder)}}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--          <div *ngIf="getServiceArray('grantProjectNames').controls[0].value !== ''" class="uk-margin-medium-top">-->
<!--            <dt>Grant/Project Name</dt>-->
<!--            <dd class="uk-margin-small-top">-->
<!--              <span *ngFor="let grant of getServiceArray('grantProjectNames').value; let i = index">-->
<!--                <span *ngIf="i > 0">, </span>{{grant}}</span>-->
<!--            </dd>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div *ngIf="getServiceField('termsOfUse')?.value !== ''" class="uk-margin-top">-->
<!--          <a href="{{getServiceField('termsOfUse').value}}" target="_blank" class="uk-button uk-button-text uk-margin-top">Terms of use<i class="fa fa-external-link uk-margin-small-left uk-margin-small-right"></i></a>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--BENEFITS-->
<div *ngIf="form && getExtrasArray('benefits')?.controls[0]?.get('benefitsTitle')?.value !== ''" style="background-image: url('../../../../../assets/images/benefits_bg.png'); background-repeat: no-repeat; background-position: left"
     class="uk-section uk-section-primary uk-preserve-color">
  <div class="uk-container">

    <div class="tm-grid-expand uk-grid-large uk-margin-remove-vertical uk-grid" uk-grid="">
      <div class="uk-width-1-3@m uk-width-1-3@l uk-width-1-1@s uk-first-column">

        <h2 class="uk-position-relative uk-text-left" style="z-index: 1;">Benefits</h2>

      </div>

      <div class="uk-width-2-3@m uk-width-2-3@l uk-width-1-1@s">

        <div
          class="uk-position-relative uk-margin uk-margin-auto-left@m uk-margin-remove-right@m uk-margin-auto uk-text-left"
          style="z-index: 1;">
          <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-grid-large uk-grid-match uk-grid" uk-grid="">

            <div *ngFor="let benefit of getExtrasArray('benefits').value">
              <div class="el-item uk-panel uk-margin-remove-first-child">
                <h6 class="uk-margin-top uk-margin-remove-bottom">{{benefit.benefitsTitle}}</h6>
                <div class="el-content uk-panel uk-margin-small-top">{{benefit.benefitsText}}</div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>

  </div>
</div>

<!--FEATURES-->
<div *ngIf="form && getExtrasArray('features')?.controls[0]?.get('featuresTitle').value !== ''" class="uk-section uk-section-muted uk-section-large">
  <div class="uk-container">

    <h2 class="uk-text-left">Features</h2>

    <div class="uk-grid uk-grid-match uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-3@l uk-margin-large-top uk-flex-center">

      <div *ngFor="let feature of getExtrasArray('features').value" class="uk-grid-margin">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body uk-text-center">

            <img src="{{feature.featuresImage !== '' ? feature.featuresImage : '../../../../../assets/images/mocks/image_2021_09_30T11_52_55_688Z.png'}}" width="80">
            <h6 class="uk-margin-top">{{feature.featuresTitle}}</h6>
            <p class="regular-text uk-margin-medium-top">{{feature.featuresText}}</p>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!--USE CASES-->
<div *ngIf="form && getExtrasArray('useCasesExtras')?.controls[0]?.get('useCaseTitle').value !== ''" class="uk-section uk-section-primary uk-section-large uk-preserve-color uk-visible@m">

  <div class="uk-container">

    <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">
      <h4>Used in</h4>
    </div>

    <div id="slideShow" class="uk-position-relative" uk-slideshow="ratio: 16:9; autoplay: true; autoplay-interval: 4000; pause-on-hover: true;" (beforeitemshow)="dragSlide('slideShow')">

      <ul class="uk-slideshow-items">
        <li *ngFor="let useCase of getExtrasArray('useCasesExtras').value" class="uk-flex-middle">
          <div class="uk-width-1-1 uk-grid uk-child-width-1-2">

            <div class="slider-image uk-flex uk-flex-right">
              <div class="uk-card uk-card-default">
                <img src="{{useCase.useCaseImage !== '' ? useCase.useCaseImage : '../../../../../assets/images/mocks/image_2021_09_30T11_53_37_207Z.png'}}" width="294">
              </div>
            </div>

            <div class="slider-text uk-flex uk-flex-middle">
              <div class="slider-bold-background-header">{{useCase.useCaseTitle}}</div>

              <div class="">
                <div class="slider-header">{{useCase.useCaseTitle}}</div>
                <div class="slider-description uk-margin-top">{{useCase.useCaseText}}</div>
                <div *ngIf="useCase.useCaseLink !== ''" class="uk-margin-medium-top">
                  <a href="{{useCase.useCaseLink}}" target="_blank" class="uk-button uk-button-text">Learn more<i class="fa fa-external-link uk-margin-small-left uk-margin-small-right"></i></a>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>

      <div class="uk-position-bottom-center uk-position-small">
        <ul class="uk-dotnav">
          <li *ngFor="let useCase of getExtrasArray('useCasesExtras').value; let i=index" [ngClass]="{'uk-active': slide === i}">
            <a (click)="showSlide('slideShow', i)">Item {{i}}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<!--Related services-->
<div *ngIf="relatedServices" class="uk-section-muted uk-section uk-flex uk-flex-middle" uk-height-viewport="offset-top: true; offset-bottom: 20;" style="min-height: calc(80vh);">

  <div class="uk-width-1-1">

    <div class="uk-container">

      <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-first-column">

          <h2 class="uk-margin-large">Related services</h2>
          <div class="uk-grid uk-grid-match uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-3@l uk-margin-large-top" uk-height-match="target: > div > .uk-card > .uk-card-body">

            <div *ngFor="let service of relatedServices" class="uk-grid-margin">
              <div class="uk-card uk-card-default service-list-card">
                <div class="uk-card-media-top">
                  <img src="{{service['image']}}" alt="">
                </div>
                <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
                  <div>
                    <div class="h5-subheader">{{service['name']}}</div>
                    <h5 class="">{{service['tagline']}}</h5>
                    <p>{{service['pitch']}}</p>
                  </div>
                  <div class="">
                    <a (click)="redirectTo('/service/' + service['id'])" class="uk-button uk-button-text">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
<!--          <div class="uk-margin uk-slider uk-slider-container" uk-slider="finite: 1; autoplay: 1;  autoplayInterval: 10000;" id="panel-slider-divider" uk-scrollspy="target: [uk-scrollspy-class];">-->
<!--            <div class="uk-position-relative uk-visible-toggle" tabindex="-1">-->

<!--              <ul class="uk-slider-items uk-grid uk-grid-large uk-grid-match" style="transform: translate3d(-422.733px, 0px, 0px);">-->
<!--                <li *ngFor="let service of relatedServices" class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m" tabindex="-1">-->
<!--                  <a class="el-item uk-panel uk-margin-remove-first-child uk-transition-toggle uk-link-toggle uk-display-block"-->
<!--                     href="{{service['webpage']}}">-->

<!--                    <div class="uk-child-width-expand uk-grid-column-small uk-grid-row-medium uk-flex-middle uk-grid" uk-grid="">-->
<!--                      <div class="uk-width-auto uk-first-column">-->
<!--                        <div class="uk-inline-clip">-->
<!--                          <img class="uk-transition-scale-up uk-transition-opaque" src="{{service['image']}}" width="120">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="uk-margin-remove-first-child">-->

<!--                      <div class="el-meta uk-h6 uk-text-primary uk-margin-remove-bottom uk-margin-remove-top">{{service['tagline']}}</div>-->
<!--                      <h5 class="el-title uk-h5 uk-heading-line uk-margin-remove-top uk-margin-remove-bottom">-->
<!--                        <span><span class="uk-link">{{service['name']}}</span></span>-->
<!--                      </h5>-->

<!--                      </div>-->
<!--                    </div>-->

<!--                  </a>-->
<!--                </li>-->
<!--              </ul>-->

<!--              <div class="uk-visible@m uk-hidden-hover uk-hidden-touch uk-light">-->
<!--                <a class="el-slidenav uk-position-center-left uk-icon uk-slidenav-previous uk-slidenav" href="#"-->
<!--                   uk-slider-item="previous">-->
<!--                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">-->
<!--                    <path d="M9.07,17l-7-7,7-7" fill="none" stroke="#000" stroke-width="1.6"></path>-->
<!--                    <path d="M19,9.83H2" fill="none" stroke="#000" stroke-width="1.6"></path>-->
<!--                  </svg>-->
<!--                </a>-->
<!--                <a class="el-slidenav uk-position-center-right uk-icon uk-slidenav-next uk-slidenav uk-invisible"-->
<!--                   href="#" uk-slider-item="next">-->
<!--                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">-->
<!--                    <path d="M10.93,2.87l7,7-7,7.05" fill="none" stroke="#000" stroke-width="1.6"></path>-->
<!--                    <path d="M1,10H18" fill="none" stroke="#000" stroke-width="1.6"></path>-->
<!--                  </svg>-->
<!--                </a>-->
<!--              </div>-->

<!--            </div>-->

<!--            <ul class="el-nav uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top uk-visible@s" uk-margin="">-->
<!--            </ul>-->
<!--          </div>-->

        </div>
      </div>
    </div>

  </div>


</div>

<!--USE CASES MOBILE-->
<div *ngIf="form && getExtrasArray('useCasesExtras')?.controls[0]?.get('useCaseTitle').value !== ''" class="uk-section uk-section-primary uk-section-large uk-preserve-color uk-hidden@m">

  <div class="uk-container">

    <h1 class="uk-margin-medium-bottom">Use Cases</h1>

    <div id="slideShowMobile" class="uk-position-relative" uk-slideshow="ratio: 12:4; min-height: 750; autoplay: true; autoplay-interval: 4000; pause-on-hover: true;" (beforeitemshow)="dragSlideMobile('slideShowMobile')">

      <ul class="uk-slideshow-items">
        <li *ngFor="let useCase of getExtrasArray('useCasesExtras').value" class="">
          <div class="">

            <div class="slider-image uk-flex uk-flex-center">
              <div class="uk-card uk-card-default">
                <img src="{{useCase.useCaseImage !== '' ? useCase.useCaseImage : '../../../../../assets/images/mocks/image_2021_09_30T11_53_37_207Z.png'}}" width="294">
              </div>
            </div>

            <div class="slider-text uk-text-center uk-margin-medium-top">
              <div class="slider-bold-background-header uk-visible@m">{{useCase.useCaseTitle}}</div>

              <div class="">
                <div class="slider-header">{{useCase.useCaseTitle}}</div>
                <div class="slider-description uk-margin-top">{{useCase.useCaseText}}</div>
                <div *ngIf="useCase.useCaseLink !== ''" class="uk-margin-medium-top">
                  <a href="{{useCase.useCaseLink}}" target="_blank" class="uk-button uk-button-text">Learn more<i class="fa fa-external-link uk-margin-small-left uk-margin-small-right"></i></a>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>

      <div class="uk-position-bottom-center uk-position-small">
        <ul class="uk-dotnav">
          <li *ngFor="let useCase of getExtrasArray('useCasesExtras').value; let i=index" [ngClass]="{'uk-active': slideMobile === i}">
            <a (click)="showSlideMobile('slideShowMobile', i)">Item {{i}}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<!--KPIs-->
<!--<div class="uk-section uk-section-default uk-margin-xlarge-top uk-margin-xlarge-bottom">-->
  <!--<div class="uk-container uk-container-large">-->

    <!--<h1>KPIs</h1>-->

  <!--</div>-->
<!--</div>-->

<!--<pre *ngIf="form">{{form.getRawValue() | json}}</pre>-->
