
<div class="uk-grid uk-child-width-1-2 uk-section-primary uk-preserve-color uk-margin-xlarge-bottom">

  <div class="uk-section">
    <div class="uk-container uk-margin-medium-left uk-margin-large-top">
      <!--<div class="h1-subHeader">Subheader with small heading</div>-->
      <img src="https://monitor.openaire.eu/dashboard/logo-large-monitor.3c00128de8ab7dc5817c.png" width="310px">
      <h1>Simplify research tracking & monitoring.</h1>
      <p class="regular-text uk-margin-medium-top">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>

  <div class="uk-flex uk-flex-right">
    <img src="http://vereniki.athenarc.gr/catalogue/images/catalogue-test_0004_Layer-0.png" style="height: 540px">
  </div>

</div>

<!--INSIGHT INFO-->
<div *ngIf="form" class="uk-section uk-section-default">
  <div class="uk-container uk-container-large">

    <div class="uk-card uk-card-default">
      <div class="uk-card-body uk-padding-large">

        <h5 class="uk-text-uppercase">Insight Info</h5>

        <div class="uk-grid uk-child-width-1-4 uk-margin-medium-bottom" uk-grid="masonry: true">

          <div *ngIf="getServiceArray('targetUsers').controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Users</dt>
            <dd>
              <span class="" *ngFor="let targetUser of getServiceArray('targetUsers').value; let i = index">
                <span *ngIf="i > 0">, </span>{{ getVocabularyName('targetUsers',targetUser) }}</span>
            </dd>
          </div>

          <div *ngIf="getServiceField('resourceOrganisation')?.value !== ''" class="uk-margin-medium-top">
            <dt>Resource Organization</dt>
            <dd>{{getVocabularyName('resourceOrganisation', getServiceField('resourceOrganisation').value)}}</dd>
          </div>

          <div *ngIf="getServiceArray('accessModes').controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Access Mode</dt>
            <dd>
              <span *ngFor="let accessMode of getServiceArray('accessModes').value; let i = index">
                <span *ngIf="i > 0">, </span>{{getVocabularyName('accessModes', accessMode)}}</span>
            </dd>
          </div>

          <div *ngIf="getServiceArray('fundingBody')?.controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Funding Body</dt>
            <dd>
              <span *ngFor="let funder of getServiceArray('fundingBody').value; let i = index">
                <span *ngIf="i > 0">, </span>{{getVocabularyName('fundingBody', funder)}}</span>
            </dd>
          </div>

          <div *ngIf="getServiceArray('resourceProviders').controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Resource Providers</dt>
            <dd>
              <span class="" *ngFor="let provider of getServiceArray('resourceProviders').value; let i = index">
                <span *ngIf="i > 0">, </span>{{getVocabularyName('resourceProviders', provider)}}</span>
            </dd>
          </div>

          <div *ngIf="getServiceArray('accessTypes').controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Access Type</dt>
            <dd>
              <span *ngFor="let accessType of getServiceArray('accessTypes').value; let i = index">
                <span *ngIf="i > 0">, </span>{{getVocabularyName('accessTypes', accessType)}}</span>
            </dd>
          </div>

          <div *ngif="getServiceField('trl').value !== ''" class="uk-margin-medium-top">
            <dt>TRL</dt>
            <dd>{{getVocabularyName('trl', getServiceField('trl').value)}}</dd>
          </div>

          <div *ngIf="getServiceArray('fundingPrograms').controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Funding Program</dt>
            <dd>
              <span *ngFor="let funder of getServiceArray('fundingPrograms').value; let i = index">
                <span *ngIf="i > 0">, </span>{{getVocabularyName('fundingPrograms', funder)}}</span>
            </dd>
          </div>

          <div *ngIf="getServiceArray('grantProjectNames').controls[0].value !== ''" class="uk-margin-medium-top">
            <dt>Grant/Project Name</dt>
            <dd>
              <span *ngFor="let grant of getServiceArray('grantProjectNames').value; let i = index">
                <span *ngIf="i > 0">, </span>{{grant}}</span>
            </dd>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<!--BENEFITS-->
<div *ngIf="form && getExtrasArray('benefits')?.controls[0]?.get('benefitsTitle').value !== ''" class="uk-section uk-section-default uk-margin-xlarge-bottom">
  <div class="uk-container uk-container-large">

    <h1>Benefits</h1>

    <div *ngFor="let benefit of getExtrasArray('benefits').value" class="uk-grid uk-child-width-1-2">
      <div>
        <h3>{{benefit.benefitsTitle}}</h3>
        <p>{{benefit.benefitsText}}</p>
      </div>
      <div></div>
    </div>

  </div>
</div>


<!--FEATURES-->
<div *ngIf="form && getExtrasArray('features')?.controls[0]?.get('featuresTitle').value !== ''" class="uk-section uk-section-default uk-margin-xlarge-top uk-margin-xlarge-bottom">
  <div class="uk-container uk-container-large">

    <h1>Features</h1>

    <div class="uk-grid uk-child-width-1-3 uk-margin-large-top">

      <div *ngFor="let feature of getExtrasArray('features').value">
        {{feature}}
        <div class="uk-card uk-card-default">
          <div class="uk-card-body uk-text-center">

            <img src="{{feature.featuresImage}}" width="80">
            <h6 class="uk-margin-top">{{feature.featuresTitle}}</h6>
            <p class="regular-text uk-margin-medium-top">{{feature.featuresText}}</p>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!--USE CASES-->
<div *ngIf="form && getExtrasArray('useCases')?.controls[0]?.value" class="uk-section-default uk-margin-xlarge-top uk-margin-xlarge-bottom">

  <div class="uk-container uk-container-large">

    <h1>Use Cases</h1>

    <div id="slideShow" class="uk-position-relative" uk-slideshow="ratio: 12:4" (beforeitemshow)="dragSlide()">

      <ul class="uk-slideshow-items">
        <li *ngFor="let useCase of getExtrasArray('useCases').value" class="uk-flex-middle">
          <div class="uk-width-1-1 uk-grid uk-child-width-1-2">

            <div class="slider-image uk-flex uk-flex-right">
              <div class="uk-card uk-card-default">
                <div style="background-color: #F0F9FF; width: 294px; height:325px" class=""></div>
              </div>
            </div>

            <div class="slider-text uk-flex uk-flex-middle">
              <div class="slider-bold-background-header">{{useCase.useCaseTitle}}</div>

              <div class="">
                <div class="slider-header">{{useCase.useCaseTitle}}</div>
                <div class="slider-description uk-margin-top">{{useCase.useCaseText}}</div>
<!--                <div class="uk-margin-medium-top"><a class="uk-link uk-text-uppercase">Learn more <i class="fa fa-long-arrow-right uk-margin-small-left"></i></a></div>-->
              </div>
            </div>

          </div>
        </li>
      </ul>

      <div class="uk-position-bottom-center uk-position-small">
        <ul class="uk-dotnav">
          <li *ngFor="let useCase of getExtrasArray('useCases').value; let i=index" [ngClass]="{'uk-active': slide === i}">
            <a (click)="showSlide(i)">Item {{i}}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<!--KPIs-->
<div class="uk-section uk-section-default uk-margin-xlarge-top uk-margin-xlarge-bottom">
  <div class="uk-container uk-container-large">

    <h1>KPIs</h1>



  </div>
</div>

<!--<pre *ngIf="form">{{form.getRawValue() | json}}</pre>-->
