<div *ngIf="ready" class="uk-grid uk-child-width-1-2 uk-section-primary uk-preserve-color uk-margin-xlarge-bottom" uk-height-viewport="offset-bottom: 30">

  <div class="uk-section">
    <div class="uk-container uk-margin-medium-left uk-margin-large-top">
      <div class="h1-subHeader">Subheader with small heading</div>
      <h1>{{portfolioVoc.name}}</h1>
      <p class="big-text uk-margin-medium-top">{{portfolioVoc.description}}</p>
    </div>
  </div>

  <div class="">
    <img src="{{portfolioVoc.extras.image}}">
  </div>

</div>

<div *ngIf="ready && services['length'] > 0" class="uk-section uk-section-default uk-margin-xlarge-bottom">
  <div class="uk-container uk-container-large">

    <h1>Which service is right for you?</h1>

    <div class="uk-grid uk-child-width-1-3 uk-margin-large-top" uk-height-match="target: > div > .uk-card > .uk-card-body">

<!--      <div *ngFor="let service of services">-->
<!--        <div class="uk-card uk-card-default">-->
<!--          <div class="uk-card-media-top">-->
<!--            <img src="images/light.jpg" alt="">-->
<!--          </div>-->
<!--          <div class="uk-card-body">-->
<!--            <h5 class="">{{service.name}}</h5>-->
<!--            <p>{{service.desc}}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div *ngFor="let service of services">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="{{service['image']}}" alt="">
          </div>
          <div class="uk-card-body">
            <div>
              <div class="h5-subheader">{{service['name']}}</div>
              <h5 class="">{{service['tagline']}}</h5>
              <p>{{service['description']}}</p>
            </div>
            <div class=""><a [routerLink]="['/service/', service['id']]" class="uk-button uk-button-text">Learn more</a></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!--<pre>{{portfolioVoc | json}}</pre>-->
<!--<pre>{{services | json}}</pre>-->
