#page_content {
  margin-top: var(--header-height);
}

.services-provider-header {
  padding-top: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.services-provider-header .titleLogo {
  background-color: var(--white);
  border: 1px solid var(--gray-200-background-muted-hr-input-borders);
  padding: 10px 20px;
  border-radius: 6px;
}

.services-provider-header .titleIcon .material-icons {
  padding: 3px;
  background: transparent linear-gradient(254deg, var(--openaire-light-blue) 0%, var(--catalogue-light-purple) 100%) 0 0 no-repeat padding-box;
  border-radius: 6px;
  color: var(--white);
  font-size: 56px;
}

.services-provider-header .uk-button-blue {
  padding: 6px 30px;
}

.dashboard .filters {
  border-bottom: 1px solid #DDDDDD;
}
