<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
  <div class="uk-container uk-container-large">

    <!-- TOP HELP CONTENT -->
    <app-help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </app-help-content>

    <div class="uk-grid uk-margin-medium-bottom uk-margin-medium-top">
      <div class="uk-width-1-1">
        <form class="uk-flex uk-flex-center" [formGroup]="searchForm"
              (ngSubmit)="onSubmit(searchForm.controls['query'].value)">
          <div class="">
            <select *ngIf="showSearchFieldDropDown" class="uk-select menuSearchFields"
                    (change)="updateSearchField($event)" formControlName="searchFields">
              <option value="">--Search field--</option>
              <option *ngFor="let field of searchFields" value="{{field}}">{{field}}</option>
            </select>
          </div>
          <div class="uk-margin-left">
            <input type="text" class="uk-input menuSearch" placeholder="Search OpenAIRE Catalogue..." name="keyword"
                   formControlName="query">
          </div>
        </form>
      </div>
    </div>

    <div class="uk-grid uk-margin-large-top" uk-grid="">

      <aside id="tm-sidebar" class="tm-sidebar uk-width-1-4@m">

        <div *ngIf="searchResultsSnippets != null" class="sidemenu refines">

          <p class="big-text-header">Filters</p>

          <div class="uk-margin-medium-top">

<!--            <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"-->
<!--                         let-onCheckedChange="onCheckedChange">-->
<!--              <div class="form-inline row-item">-->
<!--                <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa"-->
<!--                   [class.fa-caret-right]="item.collapsed"-->
<!--                   [class.fa-caret-down]="!item.collapsed"></i>-->
<!--                <div class="uk-inline form-check">-->
<!--                  <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked"-->
<!--                         (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"-->
<!--                         [indeterminate]="item.indeterminate"/>-->
<!--                  <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">-->
<!--                    &nbsp;{{item.text}}-->
<!--                  </label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-template>-->

            <ng-template ngFor let-facet [ngForOf]="searchResultsSnippets.facets">
              <div *ngIf="facet.field === 'life_cycle_status' || facet.field === 'trl' || facet.field === 'users'
                        || facet.field === 'portfolios'" class="uk-margin-medium-top">
                <read-more [maxHeight]="235">
                  <p class="big-text uk-inline">{{facet.label}}</p><a class="uk-inline uk-link uk-margin-left uk-margin-small-bottom"
                                                                      (click)="clearSelections($event, facet.field)">Clear</a>
                  <div class="refineOption" *ngFor="let facetValue of facet.values">
                    <input type="checkbox" class=""
                           (change)="this.onSelection($event, facet.field, facetValue.value)"
                           [checked]="facetValue.isChecked">
                    {{facetValue.label}}
                    <span>({{facetValue.count}})</span>
                  </div>
                </read-more>
              </div>
            </ng-template>
          </div>

        </div>

      </aside>

      <div class="uk-width-expand@m uk-first-column">

        <div *ngIf="errorMessage" class="">
          <div data-uk-alert="" class="uk-alert uk-alert-danger">
            <p>{{errorMessage}}</p>
          </div>
        </div>

        <div *ngIf="!errorMessage && searchResultsSnippets != null" class="">

          <div *ngIf="!foundResults">
            <div data-uk-alert="" class="uk-alert uk-alert-warning">
              <p>No results found</p>
            </div>
          </div>

          <div *ngIf="searchResultsSnippets.results != null && searchResultsSnippets.results.length > 0">

<!--            <div *ngIf="urlParameters && urlParameters.length > 0" class="uk-width-1-1 uk-row-first uk-margin-bottom">-->
<!--              <ul class="facets-selected cf">-->
<!--                <ng-template ngFor let-urlParameter [ngForOf]="urlParameters">-->
<!--                  <ng-template-->
<!--                    [ngIf]="urlParameter.key!='from' && urlParameter.key!='quantity' && urlParameter.values[0]!=''">-->
<!--                    <li *ngFor="let facet of urlParameter.values" class="search-tag">-->
<!--                      <span class="title">{{urlParameter.key}}:</span> {{facet | uppercase}}-->
<!--                      <a (click)="this.deselectFacet(urlParameter.key, facet)" data-role="remove"></a>-->
<!--                    </li>-->
<!--                  </ng-template>-->
<!--                </ng-template>-->
<!--              </ul>-->
<!--            </div>-->

            <div class="uk-flex uk-flex-middle uk-flex-between">
              <div>
                <div class="">
                  <label class="" for="pageSize">Results per page </label>
                  <div class="uk-inline uk-margin-left">
                    <select class="uk-input uk-select" id="pageSize" [ngModel]="pageSize" (change)="onPageSizeChange($event)" style="height: 40px !important;">
                      <option value="10" selected>10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
              </div>

              <!--List vs Grid View-->
              <!--<div class="">-->
                <!--<a *ngIf="listViewActive" (click)="toggleListGrid('grid')">-->
                  <!--<img src="../../../assets/images/icons/old/switch_view_list_active.svg">-->
                <!--</a>-->
                <!--<a *ngIf="!listViewActive" (click)="toggleListGrid('list')">-->
                  <!--<img src="../../../assets/images/icons/old/switch_view_grid_active.svg">-->
                <!--</a>-->
              <!--</div>-->

            </div>

            <div class="uk-grid uk-row-first uk-margin-bottom uk-margin-top">
              <div class="uk-width-1-1">

                <div class="uk-flex uk-flex-between uk-flex-middle">

                  <p class="big-text uk-margin-remove">
                    <span class="uk-text-bold">{{searchResultsSnippets.total}}</span> Services, Page <span class="uk-text-bold">{{currentPage}}</span> of {{totalPages}}
                    <!--<span>Showing {{searchResultsSnippets.from + 1}} - {{searchResultsSnippets.to}} of {{searchResultsSnippets.total}} results</span>-->
                  </p>

                  <ul class="uk-pagination">
                    <li *ngIf="currentPage>2 && pageTotal>5"><a (click)="goToPage(1)"><span uk-pagination-previous></span><span uk-pagination-previous></span></a></li>
                    <li *ngIf="currentPage!==1"><a (click)="previousPage()"><span uk-pagination-previous></span></a></li>
                    <li *ngFor="let i of pages" [ngClass]="i === currentPage ? 'uk-active': ''">
                      <a (click)="goToPage(i)">{{i}}</a>
                    </li>
                    <li *ngIf="currentPage!==pageTotal"><a (click)="nextPage()"><span uk-pagination-next></span></a></li>
                    <li *ngIf="currentPage<pageTotal-1 && pageTotal>5"><a (click)="goToPage(pageTotal)"><span uk-pagination-next></span><span uk-pagination-next></span></a></li>
                  </ul>

                </div>
              </div>

            </div>

            <!--<hr class="adminResultsHeader">-->

            <div *ngIf="listViewActive" class="uk-grid-margin-small">

              <ng-container *ngFor="let resourceInfo of searchResultsSnippets.results; let i = index">


                <a [routerLink]="['/service/' + resourceInfo.id]" class="serviceDetails">
                  <div class="uk-card uk-card-default uk-card-hover uk-margin-bottom">

                    <div class="service-details-card-content">

                      <div *ngIf="resourceInfo.portfolios" class="portfolioSection">Publish</div>

                      <div class="">
                        <!--<div class="uk-grid" uk-grid="">-->
                        <div>


                          <div class="uk-width-2-3@m uk-card-body">
                            <div>
                              <h5 class="uk-margin-remove uk-text-left@m uk-text-center uk-scrollspy-inview uk-animation-fade uk-inline"
                                uk-scrollspy-class="" style="">
                                {{resourceInfo.name || "Not Available"}}
                              </h5>
                            </div>
                            <p *ngIf="resourceInfo.tagline" class="uk-margin-small-top serviceTagLine h5-subheader" style="">
                              "{{resourceInfo.tagline}}"
                            </p>
                            <div class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade serviceDescription line-clamp"
                                 uk-scrollspy-class="" style="">
                              {{resourceInfo.description}}
                            </div>

                            <div *ngIf="!(resourceInfo.user === null || resourceInfo.user[0] === '')" class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                              <span class="field-label">Users: </span> <span class="field-value uk-margin-small-left">{{resourceInfo.user}}</span>
                            </div>
                            <div *ngIf="!(resourceInfo.paymentTitle === null || resourceInfo.paymentTitle[0] === '')"
                                 class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                              <span class="field-label">Pricing: </span> <span class="field-value uk-margin-small-left">{{resourceInfo.paymentTitle}}</span>
                            </div>

                          </div>

                          <div class="uk-width-1-3@m uk-padding-remove uk-position-bottom-right uk-overlay uk-overlay-default service-image">
                            <img src="{{resourceInfo.image}}" >
                          </div>


                        </div>
                      </div>



                    </div>


                  </div>
                </a>

              </ng-container>

            </div>
            <div *ngIf="!listViewActive" class="uk-grid uk-grid-margin-small uk-child-width-1-2@m gridView">

              <ng-container *ngFor="let resourceInfo of searchResultsSnippets.results; let i = index">

                <div class="serviceDetails uk-margin-bottom">

                  <div class="uk-card uk-card-default">

                    <div class="symbolAndProvider uk-card-body uk-text-center">

                      <a (click)="this.router.service(resourceInfo.id)">
                        <span>
                          <img src="{{resourceInfo.logo || 'src/lib/assets/images/broken_image-black-48dp.svg'}}"
                               style="height: 51px;">
                        </span>
                      </a>
<!--                      <span *ngIf="projectName!='OpenAIRE Catalogue'" class="provider">{{getResourceOrganizationAbbreviation(resourceInfo) | uppercase}}</span>-->
                    </div>
                    <div class="uk-first-column uk-card-body serviceInfo">
                      <!--                      <div style="position: relative">-->
                      <!--                        <div style="position: absolute;left: -5px;height: 20px;">-->
                      <!--                        <star-rating-comp #rating2 (click)="rateService(i, rating2.rating)" [starType]="'svg'"-->
                      <!--                                          [rating]="resourceInfo.hasRate" [step]="1"-->
                      <!--                                          [showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn()-->
                      <!--                                          [size]="'medium'"-->
                      <!--                                          [staticColor]="'ok'" title="Rate this service" uk-tooltip="delay: 500"-->
                      <!--                                          labelText="{{resourceInfo.hasRate}} ({{ resourceInfo.ratings }})"-->
                      <!--                                          [labelVisible]="true" [labelPosition]="'right'"-->
                      <!--                                          [hoverEnabled]="true">-->
                      <!--                        </star-rating-comp>-->
                      <!--                        </div>-->
                      <!--                      </div>-->
                      <div>
                        <h2 class="uk-margin-remove uk-h3 uk-scrollspy-inview uk-animation-fade uk-inline serviceName"
                            uk-scrollspy-class="">
                          <a [routerLink]="['/service/' + resourceInfo.id]">
                            {{resourceInfo.name || "Not Available"}}
                          </a>
                        </h2>
                      </div>

                      <div class="uk-margin-small-top serviceTagLine">
                        "{{resourceInfo.tagline}}"
                      </div>
                      <div class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="">
                        <!--<read-more-text [text]="resourceInfo.service.description" [maxHeight]="38">-->
                        <!--</read-more-text>-->
                        <div class="serviceDescription" [innerHTML]="resourceInfo.description"></div>
                        <a [routerLink]="['/service/' + resourceInfo.id]">View more...</a>
                      </div>

<!--                      <div *ngIf="projectName!='OpenAIRE Catalogue'" class="addenda uk-margin-small-top">-->
<!--                        <span class="uk-margin-medium-right">-->
<!--                            <a (click)="addToFavourites(i)">-->
<!--                                <i [ngClass]="resourceInfo.isFavourite?'fa fa-heart fa-lg':'fa fa-heart-o fa-lg'"></i>-->
<!--                            </a>-->
<!--                            <span class="statsNumbers">&nbsp;{{ resourceInfo.favourites }}</span>-->
<!--                        </span>-->
<!--                        <span class="uk-margin-medium-right">-->
<!--                            <input type="checkbox" class="uk-margin-small-right"-->
<!--                                   [checked]="isSelected(resourceInfo.service)"-->
<!--                                   (change)="comparisonService.addOrRemove(resourceInfo.service)">-->
<!--                            <a>{{isSelected(resourceInfo.service) ? 'Added' : 'Add to compare'}}</a>-->
<!--                        </span>-->
<!--                        <span class="uk-float-right">-->
<!--                            <i title="Number of Views" class="fa fa-eye fa-lg"></i>-->
<!--                            <span class="statsNumbers">&nbsp;{{ resourceInfo.views }}</span>-->
<!--                        </span>-->
<!--                      </div>-->
                    </div>

                  </div>

                </div>

              </ng-container>
            </div>

            <div *ngIf="serviceIdsArray.length > 0" class="uk-float-right uk-animation-scale-up"
                 style="z-index: 100; bottom: 40px; position: fixed; right: 30px;">
              <button class="uk-button butn theme" href="#email-modal" uk-toggle>Ask for info
                <i class="fa fa-comment fa-2x" aria-hidden="true"></i></button>
            </div>

            <ul class="uk-pagination uk-flex-right uk-margin">
              <li *ngIf="currentPage>2 && pageTotal>5"><a (click)="goToPage(1)"><span uk-pagination-previous></span><span uk-pagination-previous></span></a></li>
              <li *ngIf="currentPage!==1"><a (click)="previousPage()"><span uk-pagination-previous></span></a></li>
              <li *ngFor="let i of pages" [ngClass]="i === currentPage ? 'uk-active': ''">
                <a (click)="goToPage(i)">{{i}}</a>
              </li>
              <li *ngIf="currentPage!==pageTotal"><a (click)="nextPage()"><span uk-pagination-next></span></a></li>
              <li *ngIf="currentPage<pageTotal-1 && pageTotal>5"><a (click)="goToPage(pageTotal)"><span uk-pagination-next></span><span uk-pagination-next></span></a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="uk-margin-large-top" *ngIf="authenticationService.isLoggedIn() && recommendations?.length > 0">
        <h3>Recommended for you</h3>
        <div class="uk-grid uk-child-width-1-5 gridView" uk-height-match="target: > div > .uk-card">

          <ng-container *ngFor="let resourceInfo of recommendations; let i = index">
            <div class="serviceDetails uk-margin-bottom">

              <div class="uk-card uk-card-default">

                <div class="symbolAndProvider uk-card-body uk-text-center">

                  <a (click)="this.router.service(resourceInfo.service.id)">
                    <span>
                      <img src="{{resourceInfo.service.logo || 'src/lib/assets/images/broken_image-black-48dp.svg'}}"
                        style="height: 51px;">
                    </span>
                  </a>
                  <span *ngIf="projectName!='OpenAIRE Catalogue'" class="provider">{{getResourceOrganizationAbbreviation(resourceInfo) | uppercase}}</span>
                </div>
                <div class="uk-first-column uk-card-body serviceInfo">
                  <div style="position: relative">
                    <div style="position: absolute;left: -5px;height: 20px;">
                    </div>
                  </div>
                  <div>
                    <h2 class="uk-margin-remove uk-h3 uk-scrollspy-inview uk-animation-fade uk-inline serviceName"
                        uk-scrollspy-class="">
                      <a [routerLink]="['/service/' + resourceInfo.service.id]">
                        {{resourceInfo.service.name || "Not Available"}}
                      </a>
                    </h2>
                  </div>

                  <div class="uk-margin-small-top serviceTagLine">
                    "{{resourceInfo.service.tagline}}"
                  </div>
                  <div class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="">
                    <!--<read-more-text [text]="resourceInfo.service.description" [maxHeight]="38">-->
                    <!--</read-more-text>-->
                    <div class="serviceDescription" [innerHTML]="resourceInfo.service.description"></div>
                    <a [routerLink]="['/service/' + resourceInfo.service.id]">View more...</a>
                  </div>


                  <div *ngIf="projectName!='OpenAIRE Catalogue'" class="addenda uk-margin-small-top">
                    <span class="uk-margin-medium-right">
                      <a (click)="addToFavourites(i)">
                        <i [ngClass]="resourceInfo.isFavourite?'fa fa-heart fa-lg':'fa fa-heart-o fa-lg'"></i>
                      </a>
                      <span class="statsNumbers">&nbsp;{{ resourceInfo.favourites }}</span>
                    </span>
                    <span class="uk-margin-medium-right">
                      <input type="checkbox" class="uk-margin-small-right"
                             [checked]="isSelected(resourceInfo.service)"
                             (change)="comparisonService.addOrRemove(resourceInfo.service)">
                      <a>{{isSelected(resourceInfo.service) ? 'Added' : 'Add to compare'}}</a>
                    </span>
                    <span class="uk-float-right">
                      <i title="Number of Views" class="fa fa-eye fa-lg"></i>
                      <span class="statsNumbers">&nbsp;{{ resourceInfo.views }}</span>
                    </span>
                  </div>
                </div>

              </div>

            </div>
          </ng-container>

        </div>
      </div>

      <!-- RIGHT HELP CONTENT -->
      <app-aside-help-content #rightHelperContent [position]="'right'"
                              [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </app-aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <app-help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </app-help-content>

  </div>
</div>

<div *ngIf="this.comparisonService.servicesToCompare && this.comparisonService.servicesToCompare.length > 0"
     class="compareWrapper">
  <div class="uk-grid uk-margin-top uk-margin-medium-left">
    <div *ngFor="let serviceToCompare of this.comparisonService.servicesToCompare"
         class="uk-width-1-5 serviceToCompareCard uk-margin-right">
      <div class="">
        <div class="uk-text-right">
          <a (click)="this.comparisonService.addOrRemove(serviceToCompare)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </div>
        <div class="uk-margin-small-bottom">{{serviceToCompare.name}}</div>
        <div>
          {{serviceToCompare.tagline}}
        </div>
      </div>
    </div>
    <div class="actions uk-float-right">
      <a (click)="comparisonService.clearAll()" class="clearAllLink uk-margin-right">Clear all</a>
      <button (click)="this.comparisonService.go()" class="uk-button uk-button-white">Compare</button>
    </div>

  </div>
</div>

<!-- FIXME: #email-modal id is inside the component, it should be changed -->
<app-email-modal [serviceIdsArray]="this.serviceIdsArray"></app-email-modal>


<div *ngIf="(projectName=='OpenAIRE Catalogue') && canAddOrEditService" class="uk-float-right"
     style="z-index: 100; bottom: 45px; position: fixed; right: 45px;">
  <a [routerLink]="['/provider/openaire/resource/add']" style="padding: 30px;"
     class="uk-icon-button uk-button-secondary">
    <i class="fa fa-plus"></i>
    <!--<span class="uk-icon" uk-icon="icon: plus; ratio: 1.5">-->
    <!--</span>-->
  </a>
</div>
