<div *ngIf="service && serviceBundle" id="page_content">

  <div class="services-provider-header">
    <div class="uk-section uk-section-xsmall">
      <div class="uk-container uk-container-expand">
        <div class="">
          <div class="uk-margin-bottom">
            <a class="uk-link uk-flex uk-flex-middle" [routerLink]="['/provider', providerId, 'dashboard', 'services']">
              <span class="material-icons uk-margin-small-right">keyboard_backspace</span>
              <span>Provider Dashboard</span>
            </a>
          </div>
          <div class="uk-flex uk-flex-middle uk-flex-between">
            <div class="uk-flex uk-flex-middle">
              <div class="titleLogo">
                <img src="{{service.logo}}" style="max-width: 210px; height: 70px;">
              </div>
              <div class="uk-margin-left">
                <div class="uk-text-meta uk-margin-remove">Admin - {{service.name}} Dashboard</div>
                <h5>History of updates</h5>
              </div>
            </div>

            <div class="uk-flex">
              <div>
                <button class="uk-button uk-button-small uk-button-secondary uk-margin-left uk-flex uk-flex-middle"
                        [routerLink]="['/service/edit/' + service.id]">
                  <span class="material-icons uk-margin-small-right">edit</span>Update Service
                </button>
              </div>
              <div *ngIf="serviceBundle.status==='approved resource'">
                <button class="uk-button uk-button-small uk-button-secondary uk-margin-left uk-flex uk-flex-middle" [ngClass]="serviceBundle.status!=='approved resource' ? 'uk-disabled' : ''"
                        [routerLink]="['/datasource/subprofile/add', serviceId]">
                  <span class="material-icons uk-margin-small-right">add</span>Add Datasource
                </button>
              </div>
<!--              <div *ngIf="serviceBundle.status==='approved resource'">--> <!-- TODO get datasource to check if exists -->
<!--                <button class="uk-button uk-button-small uk-button-secondary uk-margin-left uk-flex uk-flex-middle" [ngClass]="serviceBundle.status!=='approved resource' ? 'uk-disabled' : ''"-->
<!--                        [routerLink]="['/provider', providerId, 'datasource', 'update']">-->
<!--                  <span class="material-icons uk-margin-small-right">edit</span>Update Datasource-->
<!--                </button>-->
<!--              </div>-->
              <div>
                <button class="uk-button uk-button-blue uk-margin-left uk-flex uk-flex-middle"
                        [routerLink]="['/service/' + service.id]">
                  <span class="material-icons uk-margin-small-right">update</span>View in catalogue
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
