<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">

    <div *ngIf="serviceBundle?.loggingInfo" class="uk-margin-medium-top">
      <div class="uk-container uk-container-center">
        <div class="uk-flex" style="margin-bottom: -10px">
          <div class="uk-button uk-button-action uk-disabled uk-margin-small-top uk-flex uk-align-center uk-margin-small-bottom" style="color: #ffffff; background-color: #1d193c">Today</div>
        </div>

        <div class="al_timeline">

          <ng-container *ngIf="serviceBundle?.loggingInfo?.length>0">
            <ng-container *ngFor="let history of serviceBundle.loggingInfo; let i = index">
              <ng-container *ngIf="i < 10">

                <div class="al_timeline_block update">
                  <div class="al_timeline_image uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-scale-up uk-flex uk-flex-middle uk-flex-center">
                    <span class="material-icons">history</span>
                  </div>
                  <div class="al_timeline_content uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right">

                    <div class="uk-flex uk-flex-between">
                      <div class="uk-label">
                        {{history.type | titlecase}}
                      </div>
                      <div>
                        <span class="uk-text-meta">Update: </span>{{history.date | date: 'medium'}}
                      </div>
                    </div>

                    <div class="uk-margin-top">
                      <h6 *ngIf="history.type === 'onboard'">Onboarding - {{history.actionType | titlecase}}</h6>
                      <h6 *ngIf="history.type === 'update'">Update - {{history.actionType | titlecase}}</h6>
                      <h6 *ngIf="history.type === 'audit'">Audited as {{history.actionType | titlecase}}</h6>
                      <h6 *ngIf="history.type === 'draft'">Saved as Draft</h6>
                    </div>
                    <div>
                      <span *ngIf="history.userFullName || history.userEmail || history.userRole">by</span>
                      {{history.userFullName}}
                      <span *ngIf="history.userFullName && history.userEmail">-</span>
                      {{history.userEmail}}
                      <span *ngIf="history.userRole">({{history.userRole}})</span>
                    </div>
                    <div *ngIf="history.comment && history.comment!=='null'" class="uk-margin-medium-top">
                      <span class="comment"><i class="fa fa-comment uk-margin-small-right"></i>{{history.comment}}</span>
                    </div>

                  </div>
                </div>

              </ng-container>
            </ng-container>
          </ng-container>

        </div>
<!--        &lt;!&ndash;        *ngIf="i > 10"&ndash;&gt;-->
<!--        <div class="uk-margin-top uk-text-center">-->
<!--          <a-->
<!--            [routerLink]="['/service-dashboard/' + serviceBundle?.service.resourceOrganisation + '/' + serviceBundle.id + '/fullHistory']"-->
<!--            class="uk-h3 uk-link">See all results...</a>-->
<!--        </div>-->
      </div>

      <div class="uk-margin-top uk-text-center">
        <!--            <a *ngIf="service"-->
        <!--               [routerLink]="['/dashboard/' + catalogueId + '/' + service.resourceOrganisation + '/service-dashboard/' + service.id + '/fullHistory']"-->
        <!--               class="uk-h3 uk-link">See more results ...</a>-->
      </div>
    </div>

  </div>
</div>
