<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non orci a odio faucibus porttitor. Duis eget
      mauris consectetur, rhoncus lectus a, ornare sem. Duis ultrices cursus nisl, sed iaculis enim bibendum id. Sed
      lacinia odio nec fringilla scelerisque. Nam velit nunc, lobortis et mauris ut, vulputate malesuada arcu. Sed
      porttitor egestas augue ac rhoncus. Vivamus facilisis feugiat iaculis. Praesent faucibus, purus scelerisque
      volutpat pellentesque, lectus quam scelerisque dolor, quis porttitor purus elit at arcu. Proin risus nulla, varius
      blandit neque pharetra, sollicitudin gravida ex. Donec dapibus gravida metus, quis commodo velit eleifend ut.
      Proin quis libero volutpat, cursus tellus at, dapibus erat. Phasellus aliquet cursus sem vitae convallis. Maecenas
      ut lobortis quam. </p>
    <p>Donec rutrum sem sagittis neque molestie, ac pharetra nisi cursus. In accumsan blandit ex, ut tincidunt nunc
      aliquam eget. Proin et lorem eu neque vulputate malesuada sed ac nisl. Suspendisse vitae cursus sem. Praesent
      vitae lacus augue. Maecenas a velit elit. Maecenas a augue mi. Cras sed lobortis tortor. Ut at dui et leo feugiat
      varius. Donec tristique nisi non purus porttitor, ac commodo quam pretium. Aliquam pretium, justo quis tempor
      scelerisque, felis eros vulputate mi, facilisis ullamcorper eros ligula quis purus. Duis sit amet nisl sed erat
      lacinia sollicitudin. </p>

    <div class="uk-flex uk-flex-center">
      <a [routerLink]="['/provider/add']" type="button" class="uk-button uk-button-primary">Continue</a>
    </div>
  </div>
</div>
