<div class="uk-section" style="min-height: 70vh; display: grid; grid-template-rows: 1fr auto;">
  <div class="uk-container uk-container-expand uk-position-center">
    <div class="uk-text-center">
      <h4 class="uk-margin-medium-bottom">Provider Invitation</h4>
      <p style="font-size: large">You have been invited to register as a Provider on OpenAIRE Catalogue.</p>
      <p style="font-size: large">Please take a while to fill out the registration form carefully. Details are important, and ensuring accuracy will help us provide you with the best possible experience.</p>
    </div>
    <div class="uk-flex uk-flex-center uk-padding-large">
      <a [routerLink]="['/provider/add']" type="button" class="uk-button uk-button-primary">Continue</a>
    </div>
  </div>
</div>
