<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-large uk-margin-medium-top uk-margin-medium-bottom">
    <div class=" uk-width-expand@m">
      <h4 class="uk-margin-medium-bottom">Welcome to the OpenAIRE catalogue of services</h4>
      <p style="">You are reaching this page, after having accepted the invitation email sent by an OpenAIRE representative. This is your personal catalogue home page. You need to fill in the registration form and submit it within the platform. You can view the status of your request, while OpenAIRE examines the validity of the request.</p>
      <p style="">Please note and pay attention to each form field you fill in, and the instructions, definitions and specific guidelines and rules mentioned (i.e., size of media files, type of information, mandatory or optional information).</p>
      <p style="">Please note that there are three potential statuses: with pending being the first one once you submit followed by, approved, or rejected.</p>
      <p style="">Once everything is correct, we will set your status as approved, enabling you to register your service(s).</p>
      <p style="">To register a service, please press the + New service button and fill in the metadata form. Again, once you are done, please submit your request. We will review the information provided and either: approve and activate the service visibility on the OpenAIRE catalogue, or reject and send you back by email, feedback on the reasons and suggestions.</p>
      <p style="">In case you need to update the service or provider’s information, you press the buttons that guide you through the process.</p>
      <p style="">Enjoy!</p>
      <div class="uk-flex uk-flex-center uk-padding-large">
        <a [routerLink]="['/provider/add']" type="button" class="uk-button uk-button-primary">Continue</a>
      </div>
    </div>
  </div>
</div>
