<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-large uk-margin-medium-top uk-margin-medium-bottom">
    <div class=" uk-width-expand@m">

      <h4>About</h4>

      <p>The OpenAIRE service catalogue is an on-demand online platform that presents a comprehensive list
        of services in support of Open Science. The catalogue registers, hosts, and gives visibility to
        services operated by OpenAIRE and by third-party entities active in the Open Science scholarly
        communication domain. Initially built to showcase the list of OpenAIRE's portfolio services, it
        evolved over time to become a world-wide registry of Open Science services fully integrated with the
        EOSC Service Catalogue. It acts today as an intermediate service to third party Open Science
        stakeholders that wish to register their services to the EOSC ecosystem. </p>

      <p>But why should this be an option? We at OpenAIRE, envision a catalogue that offers a modern,
        holistic approach to the presentation of the services to the Open Science community, enriched with
        marketing material and complemented by additional value-driven information, to comply with users’
        needs and requirements. Working towards this vision, we crafted our services catalogue with love and
        imagination. We believe that research organizations play a crucial role in advancing knowledge and
        innovation, and we are committed to supporting them by connecting them with potential users and
        collaborators.</p>

      <p>The OpenAIRE catalogue is designed to help research organizations promote their services in a
        user-friendly and accessible way. By registering your organization on our platform, you will be able
        to:</p>
      <ul>
        <li>Create a detailed profile that highlights your expertise, experience, and unique selling points, as if you
          directly communicate with the research community.
        </li>
        <li>Enrich your services presentation with multiple dissemination material, that your users can select from,
          accompanied by direct messages to your users on services values, benefits and features, helpful material –
          eBooks, Guides, MOOCs, Promotional videos, Glossary, to name a few.
        </li>
        <li>Showcase your services to potential users and collaborators, including academic institutions, government
          agencies, and private sector organizations.
        </li>
        <li>Reach a wider audience of potential users and collaborators who are actively searching for services like
          yours.
        </li>
        <li>Build your brand and increase your visibility in the research community, getting them familiar with your
          services along EOSC.
        </li>
      </ul>

      <p>At our Services Catalogue, we believe that collaboration and knowledge-sharing are key to advancing research
        and innovation. By joining our platform, you will become part of a vibrant and supportive community of
        research organizations who share your passion for excellence and discovery.</p>

      <p>Lastly, thanks to the automated synchronization of our catalogue with the EOSC catalogue, you only need to
        register once! We take care of the rest for you, with all the mandatory (and optional) information required by
        EOSC available to both metadata schema models.</p>

      <p><strong>So why wait? We look forward to welcoming you to our platform!</strong></p>

      <div class="uk-flex uk-flex-center uk-padding-large">
        <a [routerLink]="['/join']" type="button" class="uk-button uk-button-primary">Join</a>
      </div>

    </div>
  </div>
</div>
