<div class="uk-section-default uk-section uk-section-small" style="min-height: 325px">
  <div class="uk-container uk-container-large uk-margin-medium-top uk-margin-medium-bottom">
    <div class=" uk-width-expand@m">

      <h4>Join</h4>

      <p>The <strong>OpenAIRE catalogue</strong> allows all services providers active in Open Science to
        register their services. A workflow is defined with a step-by-step process. We recommend you
        download our metadata schema model (available on a spreadsheet) before applying and review it,
        filling in the information you already know.
      </p>

      <strong>Step 1 – Contact us</strong>
      <p>Please contact us at info[at]openaire.eu, to express your interest in registering your services on the
        OpenAIRE catalogue. You will be requested to send us a letter of interest that you can find here. Once we
        verify that your request is eligible, we will contact you for more information.</p>

      <strong>Step 2 – Receive an invitation</strong>
      <p>Upon accepting your request, we will send you an email to invite you to register your account and your
        organisation on OpenAIRE catalogue. Your initial status will be ‘pending’.</p>

      <strong>Step 3 – Account and organisation verification and registration</strong>
      <p>Once our internal verification of information is performed, we activate your account, and you can register
        your organisation (status “approved”). Once your organisation is registered, you can register more than one
        service, under your account. </p>
      <p>Please note that if you can’t verify your account, or authority of the organisation you represent, your
        application will be rejected. You are more than welcome to try again once all processes have been completed
        from your organisation’s side. </p>

      <strong>Step 4 – Register services</strong>
      <p>You can initiate the process by filling in the web form with the minimum mandatory fields, of our catalogue.
        Since interoperability with EOSC is by design, you should be able to provide all the information requested, as
        if you were submitting to EOSC catalogue.</p>
      <p><strong><u>Tip:</u></strong> to save time, you can pre-fill the metadata schema file and just copy-paste!</p>

      <strong>Step 5 – Services status</strong>
      <p>Once you save your metadata information, you submit the service to us. We review and if everything is in
        place, we publish the service in the catalogue. If we preview that the information could be further improved,
        we will email you with recommendations, and keep the service status as “pending”. Upon last updates and final
        affirmative evaluation, the service status will be “approved”, and the service will be publicly available on
        OpenAIRE catalogue and EOSC.</p>
      <p>If you need more time to fill in the metadata information, your work is saved, and the service status will
        remain as “pending” in private mode.</p>
      <p>In case you are not aware of the information required, and can’t update it, the service will be rejected.
        Please contact us if you need assistance.</p>
    </div>
  </div>
</div>
