<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
     style="box-sizing: border-box;">
  <div class="uk-container uk-container-large">
    <div *ngIf="services?.results.length > 0">

        <div class="uk-grid uk-row-first uk-margin-bottom uk-margin-top">
          <div class="uk-width-1-1">

            <div class="uk-flex uk-flex-between uk-flex-middle">

              <p class="big-text uk-margin-remove">
                <span class="uk-text-bold">{{services.total}}</span> Services, Page <span class="uk-text-bold">{{this.currentPage}}</span> of {{this.totalPages}}
              </p>

              <ul class="uk-pagination uk-visible@m">
                <li *ngIf="currentPage > 2 && totalPages > 5">
                  <a (click)="goToPage(0)"><span uk-pagination-previous></span><span uk-pagination-previous></span></a>
                </li>
                <li *ngIf="currentPage > 1">
                  <a (click)="previousPage()"><span uk-pagination-previous></span></a>
                </li>
                <li *ngFor="let i of pages" [ngClass]="i === currentPage ? 'uk-active uk-animation-fade': ''">
                  <a (click)="goToPage(i - 1)">{{i}}</a>
                </li>
                <li *ngIf="currentPage !== totalPages">
                  <a (click)="nextPage()"><span uk-pagination-next></span></a>
                </li>
                <li *ngIf="currentPage < totalPages && totalPages > 5">
                  <a (click)="goToPage(totalPages-1)"><span uk-pagination-next></span><span uk-pagination-next></span></a>
                </li>
              </ul>

            </div>
          </div>

        </div>

      <div class="uk-grid-margin-small">

        <ng-container *ngFor="let resourceInfo of services.results ; let i = index">

          <a [routerLink]="['/service/' + resourceInfo.id]" class="serviceDetails">
            <div class="uk-card uk-card-default uk-card-hover uk-margin-bottom">

              <!--LAPTOP & PAD LANDSCAPE-->
              <div class="service-details-card-content uk-visible@m uk-flex">

                <div *ngIf="resourceInfo.extras?.['portfolios']?.length > 0" class="portfolioSection">
                  <div>
                    <span *ngFor="let portfolio of resourceInfo.extras['portfolios']; let i = index">
                      <ng-container *ngIf="i!=0">, </ng-container>{{getVocabularyName(portfolio)}}
                    </span>
                  </div>
                </div>

                <div class="">
                  <div class="uk-flex">

                    <div class="uk-width-3-4@m uk-card-body">
                      <div>
                        <h5 class="uk-margin-remove uk-text-left@m uk-text-center uk-scrollspy-inview uk-animation-fade uk-inline"
                          uk-scrollspy-class="">
                          {{resourceInfo.name || "Not Available"}}
                        </h5>
                      </div>
                      <p *ngIf="resourceInfo.tagline" class="uk-margin-small-top serviceTagLine h5-subheader" style="">
                        "{{resourceInfo.tagline}}"
                      </p>
                      <div class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade serviceDescription line-clamp"
                        uk-scrollspy-class="">
                        <p [innerHTML]="resourceInfo.extras['pitch']"></p>
                      </div>

                      <div *ngIf="resourceInfo.extras?.['users'][0]" uk-scrollspy-class=""
                           class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade service-users">
                        <span class="field-label uk-margin-small-right">Users: </span>
                        <span *ngFor="let user of resourceInfo.extras['users']; let i = index" class="field-value">
                      <ng-container *ngIf="i!==0">, </ng-container>{{getVocabularyName(user)}}
                    </span>
                      </div>
                      <div *ngIf="resourceInfo.extras?.['paymentCategories'][0]?.paymentTitle" uk-scrollspy-class=""
                           class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade service-pricing">
                        <span class="field-label">Pricing: </span>
                        <span class="field-value uk-margin-small-left">
                          {{resourceInfo.extras['paymentCategories'][0]?.paymentTitle}}
                        </span>
                      </div>

                    </div>

                    <div class="uk-width-1-4@m uk-padding-remove uk-overlay uk-overlay-default service-image uk-flex uk-flex-right">
                      <img src="{{resourceInfo.extras.image}}" style="border-radius: 0 6px 6px 0; max-height: 300px" alt="service image">
                    </div>

                  </div>
                </div>

              </div>

              <!--MOBILE & PAD PORTRAIT-->
              <div class="service-details-card-content uk-hidden@m">

                <div class="uk-padding-remove service-image">
                  <img src="{{resourceInfo.extras.image}}">
                </div>

                <div class="">
                  <div>

                    <div class="uk-card-body">
                      <div>
                        <h5 class="uk-margin-remove uk-text-left uk-scrollspy-inview uk-animation-fade uk-inline"
                            uk-scrollspy-class="" style="">
                          {{resourceInfo.name || "Not Available"}}
                        </h5>
                      </div>
                      <p *ngIf="resourceInfo.tagline" class="uk-margin-small-top serviceTagLine h5-subheader" style="">
                        "{{resourceInfo.tagline}}"
                      </p>
                      <div
                        class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade serviceDescription line-clamp"
                        uk-scrollspy-class="" style="">
                        <p [innerHTML]="resourceInfo.extras['pitch']"></p>
                      </div>
                      {{resourceInfo.extras?.['users']}}
                      <div
                        *ngIf="!(resourceInfo.extras?.['users'] === null || resourceInfo.extras?.['users'][0]?.name === '')"
                        class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade service-users"
                        uk-scrollspy-class="" style="">
                        <span class="field-label  uk-margin-small-right">Users: </span>
                        <span *ngFor="let user of resourceInfo.extras['users']; let i = index" class="field-value">
                      <ng-container *ngIf="i!=0">, </ng-container>{{getVocabularyName(user)}}
                    </span>
                      </div>
                      <div
                        *ngIf="!(resourceInfo.extras?.['paymentCategories'][0]?.paymentTitle === null || resourceInfo.extras?.['paymentCategories'][0]?.paymentTitle === '')"
                        class="uk-margin-small-top uk-scrollspy-inview uk-animation-fade service-pricing"
                        uk-scrollspy-class="" style="">
                        <span class="field-label">Pricing: </span>
                        <span class="field-value uk-margin-small-left">
                      {{resourceInfo.extras?.['paymentCategories'][0]?.paymentTitle}}
                    </span>
                      </div>

                    </div>

                  </div>
                </div>

                <div *ngIf="resourceInfo.extras?.['portfolios']?.length>0" class="portfolioSection">
                  <ng-container *ngFor="let portfolio of resourceInfo.extras['portfolios']; let i = index">
                    <ng-container *ngIf="i!=0">, </ng-container>{{getVocabularyName(portfolio)}}
                  </ng-container>
                </div>

              </div>

            </div>
          </a>

        </ng-container>

      </div>

        <ul class="uk-pagination uk-flex-right uk-margin">
          <li *ngIf="currentPage > 2 && totalPages > 5">
            <a (click)="goToPage(0)"><span uk-pagination-previous></span><span uk-pagination-previous></span></a>
          </li>
          <li *ngIf="currentPage > 1">
            <a (click)="previousPage()"><span uk-pagination-previous></span></a>
          </li>
          <li *ngFor="let i of pages" [ngClass]="i === currentPage ? 'uk-active uk-animation-fade': ''">
            <a (click)="goToPage(i-1)">{{i}}</a>
          </li>
          <li *ngIf="currentPage !== totalPages">
            <a (click)="nextPage()"><span uk-pagination-next></span></a>
          </li>
          <li *ngIf="currentPage < totalPages && totalPages > 5">
            <a (click)="goToPage(totalPages-1)"><span uk-pagination-next></span><span uk-pagination-next></span></a>
          </li>
        </ul>

    </div>

  </div>
</div>
<!--<pre>{{services?.results | json}}</pre>-->
