<div class="dashboard">
  <div class="sidebar_main_swipe sidebar_main_active">
    <aside id="sidebar_main">
      <div class="menu_section uk-margin-medium-top">
        <div class="sidebar_heading">MONITOR</div>
        <ul>
          <li [ngClass]="{'current_section': path === 'updateHistory'}">
            <a class="uk-flex uk-align-center uk-flex-middle text-decoration-none" [routerLink]="['updateHistory']">
              <span class="material-icons uk-margin-small-right">history</span>Update History
            </a>
          </li>
          <li [ngClass]="{'current_section': path === 'info'}">
            <a class="uk-flex uk-align-center uk-flex-middle text-decoration-none" [routerLink]="['info']">
              <span class="material-icons uk-margin-small-right">info</span>Info
            </a>
          </li>
          <li [ngClass]="{'current_section': path === 'services'}">
            <a class="uk-flex uk-align-center uk-flex-middle text-decoration-none" [routerLink]="['services']">
              <span class="material-icons uk-margin-small-right">reorder</span>Services
            </a>
          </li>
        </ul>
      </div>
      <div class="menu_section border_top">
        <div class="sidebar_heading">ACTIONS</div>
        <ul>
          <li class="">
            <a class="uk-flex uk-align-center uk-flex-middle text-decoration-none" href="#modal" uk-toggle>
              <span class="material-icons uk-margin-small-right">add_circle_outline</span>Add new Service
            </a>
          </li>
          <li class="">
            <a class="uk-flex uk-align-center uk-flex-middle text-decoration-none" [routerLink]="['../update']">
              <span class="material-icons uk-margin-small-right">update</span>Update Provider
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <div id="page_content">
      <div *ngIf="providerBundle !== null" class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-expand">
          <div class="services-provider-container">
            <div class="uk-flex">
              <div>
                <img style="max-width: 200px;" src="{{providerBundle.provider.logo}}">
              </div>
              <div class="uk-margin-medium-left"><h3 class="uk-margin-remove">{{providerBundle.provider.name}}</h3>
                <div><span class="status-label">Status: </span>{{providerBundle.status}}</div>
              </div>
            </div>
          </div>
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Choose service or datasource -->
<div id="modal" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <!--    <h2 class="uk-modal-title">Headline</h2>-->
    <p class="uk-text-center">Do you want to add an new <span class="uk-text-italic">Service</span> or <span class="uk-text-italic">Datasource</span>?</p>
    <div class="uk-grid">
      <div class="uk-width-1-2 uk-flex uk-flex-center">
        <button class="uk-button uk-button-primary uk-modal-close" [routerLink]="['/provider', providerId, 'datasource', 'add']" type="button">
          Datasource
        </button>
      </div>
      <div class="uk-width-1-2 uk-flex uk-flex-center">
        <button class="uk-button uk-button-primary uk-modal-close" [routerLink]="['/provider', providerId, 'service', 'add']" type="button">
          Service
        </button>
      </div>
    </div>
  </div>
</div>
