<div *ngIf="!ready" class="uk-margin-large-top" style="height: 400px">
  <div class="loader-big"></div>
</div>

<ng-container *ngIf="ready">

  <div class="uk-section uk-section-primary uk-preserve-color uk-margin-xlarge-bottom uk-padding-remove" uk-height-viewport="offset-bottom: 30">
    <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">

      <div class="uk-flex-last@m uk-flex-last@l">
        <img src="{{userVoc.extras.image}}">
      </div>

      <div class="uk-first-column">
        <div class="uk-padding-large uk-margin-large-left@m uk-margin-large-left@l uk-margin-large-top">
          <div *ngIf="userVoc.extras.tagline" class="h1-subHeader">{{userVoc.extras.tagline}}</div>
          <h1>{{userVoc.name}}</h1>
          <p class="big-text uk-margin-medium-top">{{userVoc.description}}</p>
        </div>
      </div>

    </div>
  </div>

</ng-container>


<div *ngIf="ready && portfoliosMap.size === portfolios.length + 1" class="uk-section uk-section-default uk-margin-xlarge-bottom">
  <div class="uk-container uk-container-medium">

    <h1>Which service is right for you?</h1>

    <ul uk-tab="connect: #portfolios-tabs; animation: uk-animation-fade" class="uk-tab uk-child-width-expand uk-margin-large">
      <li>
        <a class="">All</a>
      </li>
      <li *ngFor="let portfolio of portfolios; let i = index">
        <a class="uk-text-nowrap">{{portfolio.name}}</a>
      </li>
    </ul>

    <ul id="portfolios-tabs" class="uk-switcher">
      <li>
        <div class="uk-grid uk-margin-large-top uk-grid-large">

          <div class="uk-width-expand">

            <div class="uk-grid uk-child-width-1-3 uk-grid-match uk-grid-large">
              <div class="uk-margin-large-bottom" *ngFor="let snippet of portfoliosMap.get('all')">
                <div class="el-container uk-box-shadow-large uk-box-shadow-hover-xlarge tm-mask-default uk-inline uk-transition-toggle">
                  <div class="uk-inline-clip">

                    <img alt="" class="el-image uk-transition-scale-down uk-transition-opaque" src="{{snippet.image}}">

                    <div class="uk-position-bottom uk-overlay-default">
                      <div class="uk-overlay uk-padding-small uk-margin-remove-first-child">

                        <div class="uk-h3 uk-font-primary uk-margin-top uk-margin-remove-bottom">{{snippet.name}}</div>
                        <div class="uk-margin-top">{{snippet.tagline}}</div>
                        <!--                              <div class="el-content uk-panel uk-margin-top"><p>hello</p></div>-->

                        <div class="uk-margin-top">
                          <a [routerLink]="['/service', snippet.id, 'overview']" class="el-link uk-button uk-button-text uk-button-large">View</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </li>
      <li *ngFor="let portfolio of portfolios; let i = index">

        <div class="uk-grid uk-margin-large-top uk-grid-large">

<!--          <div class="uk-width-1-3">-->
<!--            <div>-->
<!--              <div *ngIf="portfolio.extras.tagline" class="h5-subheader">{{portfolio.extras.tagline}}</div>-->
<!--              <h5>{{portfolio.name}} portfolio</h5>-->
<!--              <p class="regular-text uk-margin-medium-top">{{portfolio.description}}</p>-->
<!--              <a class="uk-button uk-button-primary uk-margin-medium-top uk-margin-large-bottom" [routerLink]="['/portfolios', portfolio.id]">Learn more</a>-->
<!--            </div>-->
<!--          </div>-->

          <div class="uk-width-expand">

            <div class="uk-grid uk-child-width-1-3 uk-grid-match uk-grid-large">

              <div *ngIf="portfoliosMap.get(portfolio.id).length === 0" >
                <p>Currently there no services for this portfolio type</p>
              </div>

              <div class="uk-margin-large-bottom" *ngFor="let snippet of portfoliosMap.get(portfolio.id)">
                <div class="el-container uk-box-shadow-large uk-box-shadow-hover-xlarge tm-mask-default uk-inline uk-transition-toggle">
                  <div class="uk-inline-clip">

                    <img alt="" class="el-image uk-transition-scale-down uk-transition-opaque" src="{{snippet.image}}">

                    <div class="uk-position-bottom uk-overlay-default">
                      <div class="uk-overlay uk-padding-small uk-margin-remove-first-child">

                        <div class="uk-h3 uk-font-primary uk-margin-top uk-margin-remove-bottom">{{snippet.name}}</div>
                        <div class="uk-margin-top">{{snippet.tagline}}</div>
                        <!--                              <div class="el-content uk-panel uk-margin-top"><p>hello</p></div>-->

                        <div class="uk-margin-top">
                          <a [routerLink]="['/service', snippet.id, 'overview']" class="el-link uk-button uk-button-text uk-button-large">View</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

<!--              <div class="uk-panel uk-margin-remove-first-child uk-margin-xlarge" id="page#2-2-2-1">-->

<!--                <div class="uk-panel uk-h5 uk-margin-medium-top uk-margin-remove-bottom">-->
<!--                  <p style="font-weight:bold; color:#19116D;">Interested to see other available services?</p>-->
<!--                </div>-->

<!--                <div class="uk-margin-small-top">-->
<!--                  <a [routerLink]="['/portfolios', portfolio.id]" class="el-link uk-button uk-button-text">View all</a>-->
<!--                </div>-->

<!--              </div>-->

            </div>

          </div>

        </div>


      </li>
    </ul>

  </div>
</div>

<!--<pre>{{userVoc | json}}</pre>-->
<!--<pre>{{services | json}}</pre>-->
