<div *ngIf="ready" class="uk-grid uk-child-width-1-2 uk-section-primary uk-preserve-color uk-margin-xlarge-bottom" uk-height-viewport="offset-bottom: 30">

  <div class="uk-section">
    <div class="uk-container uk-margin-medium-left uk-margin-large-top">
      <div class="h1-subHeader">Subheader with small heading</div>
      <h1>{{userVoc.name}}</h1>
      <p class="big-text uk-margin-medium-top">{{userVoc.description}}</p>
    </div>
  </div>

  <div class="">
    <img src="{{userVoc.extras.image}}">
  </div>

</div>

<div class="uk-section uk-section-default uk-margin-xlarge-bottom">
  <div class="uk-container uk-container-large">

    <h1>Which service is right for you?</h1>

    <div class="uk-grid uk-child-width-1-3 uk-margin-large-top" uk-height-match="target: > div > .uk-card > .uk-card-body">

      <!--<div *ngFor="let service of services">-->
      <!--<div class="uk-card uk-card-default">-->
      <!--<div class="uk-card-media-top">-->
      <!--<img src="images/light.jpg" alt="">-->
      <!--</div>-->
      <!--<div class="uk-card-body">-->
      <!--<h5 class="">{{service.name}}</h5>-->
      <!--<p>{{service.desc}}</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <div *ngFor="let service of services">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="{{service['image']}}" alt="">
          </div>
          <div class="uk-card-body">
            <div>
              <div class="h5-subheader">{{service['name']}}</div>
              <h5 class="">{{service['tagline']}}</h5>
              <p>{{service['description']}}</p>
            </div>
            <div class=""><a [routerLink]="['/service/', service['id']]" class="uk-button uk-button-text">Learn more</a></div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="../../../../assets/images/mocks/zenodo.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <div>
              <div class="h5-subheader">Zenodo</div>
              <h5 class="">A catch-all repository</h5>
              <p>Zenodo is a general purpose repository that enables researchers, scientists, projects and institutions to share, preserve and showcase multidisciplinary research results (data, software and publications) that are not part of the existing institutional or subject-based repositories of the research communities.</p>
            </div>
            <div class=""><a class="uk-button uk-button-text">Learn more</a></div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="../../../../assets/images/mocks/amnesia.jpg" alt="">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column">
            <div>
              <div class="h5-subheader">Amnesia</div>
              <h5 class="">Anonymize your datasets</h5>
              <p>An OpenAIRE service to let you easily anonymize sensitive research data and share with others.</p>
            </div>
            <div class=""><a class="uk-button uk-button-text">Learn more</a></div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="../../../../assets/images/mocks/argos.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <div>
              <div class="h5-subheader">Argos</div>
              <h5 class="">Create, Link, Share DMPs</h5>
              <p>ARGOS is an online tool in support of automated processes to creating, managing, sharing and linking DMPs with research artifacts they correspond to.</p>
            </div>
            <div class="uk-margin-medium-top"><a class="uk-button uk-button-text">Learn more</a></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!--<pre>{{userVoc | json}}</pre>-->
<!--<pre>{{services | json}}</pre>-->
