<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">
    <div class="" style="min-height: 600px">

      <div class="uk-grid">

        <div class="uk-width-2-3">
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-margin-medium-bottom">
              <h6 class="uk-margin-small-bottom">Services</h6>
              <ul uk-tab="connect: #top-navigation-tabs; animation: uk-animation-fade"
                  class="uk-width-1-1 uk-margin-remove uk-tab form-tabs">
                <li class="uk-padding-remove-left"><a href="#" aria-expanded="true"><span>Recent</span></a></li>
                <li class="uk-padding-remove-left"><a href="#" aria-expanded="false"><span>Approved</span></a></li>
                <li class="uk-padding-remove-left"><a href="#" aria-expanded="false"><span>Pending</span></a></li>
                <li class="uk-padding-remove-left"><a href="#" aria-expanded="false"><span>Rejected</span></a></li>
              </ul>
            </div>
            <ul id="top-navigation-tabs" class="uk-switcher" style="touch-action: pan-y pinch-zoom;">
              <ul class="uk-list uk-list-divider">
                <ng-container *ngIf="resourceBundles?.length==0">No services</ng-container>
                <ng-container *ngFor="let resource of resourceBundles; let i = index;">
                  <div class="resource-list" *ngIf="i < 5">
                    <div class="resource-info name-overflow">{{getPayload(resource).name}}</div>
                    <div class="resource-info" style="padding-left: 20px">{{resource.latestUpdateInfo.date | date: 'dd MMM yyyy'}}</div>
                    <div class="resource-info status-column">
                      <div *ngIf="resource?.active === false" class="inactive">
                        <div class="uk-label uk-margin-small-right">Inactive</div>
                      </div>
                      <div *ngIf="resource?.status==='approved resource'" class="approved">
                        <div class="uk-label">Approved</div>
                      </div>
                      <div *ngIf="resource?.status==='pending resource'" class="pending">
                        <div class="uk-label">Pending</div>
                      </div>
                      <div *ngIf="resource?.status==='rejected resource'" class="rejected">
                        <div class="uk-label">Rejected</div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ul>
              <ul class="uk-list uk-list-divider">
                <ng-container *ngIf="approvedResourceBundles?.length==0">No approved services</ng-container>
                <ng-container *ngFor="let resource of approvedResourceBundles; let i = index;">
                  <div class="resource-list" *ngIf="i < 5">
                    <div class="resource-info name-overflow">{{getPayload(resource).name}}</div>
                    <div class="resource-info" style="padding-left: 20px">{{resource.latestUpdateInfo.date | date: 'dd MMM yyyy'}}</div>
                    <div class="resource-info status-column">
                      <div *ngIf="resource?.active === false" class="inactive">
                        <div class="uk-label uk-margin-small-right">Inactive</div>
                      </div>
                      <div class="approved">
                        <div class="uk-label">Approved</div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ul>
              <ul class="uk-list uk-list-divider">
                <ng-container *ngIf="pendingResourceBundles?.length==0">No pending services</ng-container>
                <ng-container *ngFor="let resource of pendingResourceBundles; let i = index;">
                  <div class="resource-list" *ngIf="i < 5">
                    <div class="resource-info name-overflow">{{getPayload(resource).name}}</div>
                    <div class="resource-info" style="padding-left: 20px">{{resource.latestUpdateInfo.date | date: 'dd MMM yyyy'}}</div>
                    <div class="resource-info status-column">
                      <div *ngIf="resource?.active === false" class="inactive">
                        <div class="uk-label uk-margin-small-right">Inactive</div>
                      </div>
                      <div class="pending">
                        <div class="uk-label">Pending</div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ul>
              <ul class="uk-list uk-list-divider">
                <ng-container *ngIf="rejectedResourceBundles?.length==0">No rejected services</ng-container>
                <ng-container *ngFor="let resource of rejectedResourceBundles; let i = index;">
                  <div class="resource-list" *ngIf="i < 5">
                    <div class="resource-info name-overflow">{{getPayload(resource).name}}</div>
                    <div class="resource-info" style="padding-left: 20px">{{resource.latestUpdateInfo.date | date: 'dd MMM yyyy'}}</div>
                    <div class="resource-info status-column">
                      <div *ngIf="resource?.active === false" class="inactive">
                        <div class="uk-label uk-margin-small-right">Inactive</div>
                      </div>
                      <div class="rejected">
                        <div class="uk-label">Rejected</div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ul>
            </ul>
            <div class="uk-margin-medium-top">
              <a *ngIf="resourceBundles?.length>0"
                 [routerLink]="['/provider/' + provider.id + '/dashboard/services']"
                 class="uk-link">Show more...</a>
            </div>
          </div>

          <div *ngIf="loggingInfo?.length>0" class="uk-margin-large-top">
            <div class="uk-card uk-card-default uk-card-body">
              <h6 class="uk-margin-medium-bottom">Recent history of updates</h6>
              <ul class="uk-list uk-list-divider">
                <ng-container *ngFor="let log of loggingInfo; let i = index;">
                  <li>
                    {{log.type | titlecase}} - {{log.actionType | titlecase}}<span class="uk-align-right">Update: {{formatLogDate(log.date)}}</span>
                  </li>
                </ng-container>
              </ul>
              <div class="uk-margin-medium-top">
                <a *ngIf="loggingInfo?.length>0"
                   [routerLink]="['/provider/' + provider.id + '/dashboard/updateHistory']"
                   class="uk-link">Show more...</a>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-width-1-3">
          <div>
            <div class="uk-card provider-card uk-card-body">
              <h6 class="uk-margin-medium-bottom">Provider basic info</h6>
              <div>
                <div class="statusLabel uk-text-italic">NAME</div>
                <div class="uk-text-bold">{{provider.name}}</div>
                <div class="statusLabel uk-text-italic uk-margin-small-top">ABBREVIATION</div>
                <div class="uk-text-bold">{{provider.abbreviation}}</div>
                <div class="statusLabel uk-text-italic uk-margin-small-top">WEBSITE</div>
                <div class="uk-text-truncate uk-display-block"><a [href]="provider.website" target="_blank">{{provider.website}}</a></div>
                <div class="statusLabel uk-text-italic uk-margin-small-top">LEGAL ENTITY</div>
                <div class="uk-text-bold">{{provider.legalEntity}}</div>
                <div class="statusLabel uk-text-italic uk-margin-small-top">LEGAL STATUS</div>
                <div class="uk-text-bold">{{provider.legalStatus && vocabularies ? getVocabularyName('Provider legal status', provider.legalStatus) : '-'}}</div>
                <div class="statusLabel uk-text-italic uk-margin-small-top">HOSTING LEGAL ENTITY</div>
                <div class="uk-text-bold">{{provider.hostingLegalEntity ? provider.hostingLegalEntity : '-'}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
